## Observations and Insights

In [12]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_df = pd.read_csv(mouse_metadata_path)
study_df = pd.read_csv(study_results_path)

In [13]:
# check mouse data
mouse_df.head()

  Mouse ID Drug Regimen     Sex  Age_months  Weight (g)
0     k403     Ramicane    Male          21          16
1     s185    Capomulin  Female           3          17
2     x401    Capomulin  Female          16          15
3     m601    Capomulin    Male          22          17
4     g791     Ramicane    Male          11          16

In [14]:
# check study data
study_df.head()

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     b128          0                45.0                 0
1     f932          0                45.0                 0
2     g107          0                45.0                 0
3     a457          0                45.0                 0
4     c819          0                45.0                 0

In [173]:
# Combine the data into a single dataset
combined_data_df = pd.merge(mouse_df, study_df, how='left', on='Mouse ID')

# write merged mouse data to csv
combined_data_df.to_csv("data/merged_mouse_data.csv", index=True)
combined_data_df.head(12)

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
5,k403,Ramicane,Male,21,16,25,33.464577,1
6,k403,Ramicane,Male,21,16,30,31.099498,1
7,k403,Ramicane,Male,21,16,35,26.546993,1
8,k403,Ramicane,Male,21,16,40,24.365505,1
9,k403,Ramicane,Male,21,16,45,22.050126,1
10,s185,Capomulin,Female,3,17,0,45.000000,0
11,s185,Capomulin,Female,3,17,5,43.878496,0

In [172]:
# Checking the number of mice in the DataFrame.
unique_mice_df = pd.DataFrame(combined_data_df["Mouse ID"].unique())
mice_count = len(unique_mice_df)
print(f"Number of unique mice: {mice_count}")

Number of unique mice: 249

In [190]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
mice_at_timepoint_df = combined_data_df.loc[combined_data_df["Timepoint"] == 45, :]
mice_at_timepoint_df = mice_at_timepoint_df.reset_index()
mice_at_timepoint_duplicated_df = mice_at_timepoint_df.loc[mice_at_timepoint_df.duplicated(subset="Mouse ID",keep=False) == True, ["Mouse ID","Timepoint"]]
mice_at_timepoint_duplicated_df.head()

Empty DataFrame
Columns: [Mouse ID, Timepoint]
Index: []

In [189]:
# Optional: Get all the data for the duplicate mouse ID. 
columns = ["Mouse ID","Drug Regimen","Sex","Age_months","Weight (g)","Timepoint","Tumor Volume (mm3)","Metastatic Sites"]
mice_at_timepoint_duplicated_df = mice_at_timepoint_df.loc[mice_at_timepoint_0_df.duplicated(subset="Mouse ID",keep=False) == True, columns]
mice_at_timepoint_duplicated_df.head()

Empty DataFrame
Columns: [Mouse ID, Drug Regimen, Sex, Age_months, Weight (g), Timepoint, Tumor Volume (mm3), Metastatic Sites]
Index: []

In [193]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
#clean_mouse_df = mice_at_timepoint_df.drop(mice_at_timepoint_0_df.index[[108]])
clean_mouse_df = mice_at_timepoint_df.drop('index', axis=1)
clean_mouse_df = clean_mouse_df.drop('Timepoint', axis=1)
clean_mouse_df = clean_mouse_df.drop('Metastatic Sites', axis=1)
clean_mouse_df = clean_mouse_df.set_index('Mouse ID')

# write clean mouse data to csv
clean_mouse_df.to_csv("data/clean_mouse_data.csv", index=True)
clean_mouse_df.head()

         Drug Regimen     Sex  Age_months  Weight (g)  Tumor Volume (mm3)
Mouse ID
k403         Ramicane    Male          21          16           22.050126
s185        Capomulin  Female           3          17           23.343598
x401        Capomulin  Female          16          15           28.484033
m601        Capomulin    Male          22          17           28.430964
g791         Ramicane    Male          11          16           29.128472

In [188]:
# Checking the number of mice in the clean DataFrame.
clean_data_mice_count = len(clean_mouse_df)
print(f"Number of mice in the clean DataFrame: {clean_data_mice_count}")

Number of mice in the clean DataFrame: 129

## Summary Statistics

In [202]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

regimen_group = combined_data_df.groupby('Mouse ID')

# Count how many times each maker appears in our group
count_makers = regimen_group['Mouse ID'].count()

count_makers.to_csv("data/mouse_id_count_data.csv", index=True)

In [ ]:
# This method is the most straighforward, creating multiple series and putting them all together at the end.

In [ ]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

## Bar Plots

In [ ]:
# Generate a bar plot showing the number of mice per time point for each treatment throughout the course of the study using pandas.

In [ ]:
# Generate a bar plot showing the number of mice per time point for each treatment throughout the course of the study using pyplot.

## Pie Plots

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [ ]:
# Calculate the final tumor volume of each mouse across four of the most promising treatment regimens. Calculate the IQR and quantitatively determine if there are any potential outliers.

In [ ]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [ ]:
# Generate a line plot of time point versus tumor volume for a mouse treated with Capomulin

In [ ]:
# Generate a scatter plot of mouse weight versus average tumor volume for the Capomulin regimen

## Correlation and Regression

In [ ]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen